# LLM Provider Configuration

# Choose your provider. You only need to set the API key for the provider you intend to use.

# Google Gemini (Default)
# or
# OpenAI
# OPENAI_API_KEY=sk-proj-...
# or
# Anthropic
# ANTHROPIC_API_KEY=sk-ant-...

# GEMINI_API_KEY= # Your Google Gemini API Key
# OPENAI_API_KEY= # Your OpenAI API Key
# ANTHROPIC_API_KEY= # Your Anthropic API Key
GROQ_API_KEY= #your GROQ_API_KEY

# Model Selection (LiteLLM Format)

# Examples:
#   gemini/gemini-1.5-flash
#   openai/gpt-4o-mini
#   anthropic/claude-3-5-sonnet-20240620
#   ollama/llama3

LLM_MODEL= # Your chosen LLM model

LLM_MODEL= #choose the bigger llm model, like for eg llama-3.3-70b-versatile
LLM_MODEL_SUMMARIZE=# choose the smaller model to summarize the context for eg: llama-3.1-8b-instant
LLM_TEMPERATURE=0.1

#choose your Huggingface HF_TOKEN
HF_TOKEN=
EMBEDDING_MODEL=#select your embedding model to embed and create the vector db sentence-transformers/all-MiniLM-L6-v2
EMBEDDING_PROVIDER=local #or remote if needed, keep it to local for using a free huggingface model
